footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 1rem;
    margin-top: 7rem;
}
.footer__logo{
    color: var(--bg-color);
    font-weight: 500;
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 2rem;
}
.permalinks{
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 auto 3rem; 
    
}
.permalink-link a{
    color: var(--color-light)
}
.footer__socials{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.footer__social-icon{
    background: var(--color-bg-variant);
    display: flex;
    padding: .6rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    color: var(--color-white); 
    transition: var(--transition)
}
.footer__social-icon:hover{
    background: transparent;
    color: var(--bg-color);
    border-color:(--bg-color);
    transform: scale(1.4);
}
.footer__copyright{
    color: var(--bg-color);
    margin-bottom: 4rem;
}

/* ===================  Media queries (Small Devices )============== */
@media (max-width: 600px){
    .permalinks{
        flex-direction: column;

    }
    
}