
.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.experience__block{
    background: transparent;
    padding: 2.5rem 5rem;
    border: 1px solid var(--color-bg-variant);
    border-radius: 2rem;
    transition: var(--transition)     
}
.experience__block:hover{
    background: transparent;
    border-color: var(--color-light);
    cursor: default;

}
.experience__container-title{
    margin-bottom: 2.5rem;
    text-align: center;
    color: var(--color-light)
}
.experience__content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem; 
}
.experience__details{
    display: flex;
    gap: 1rem;
}
.experience__details-icons{
    margin-top:10px;
    color: var(--color-primary);
}
.experience__details h4{
    color: var(--color-bg-variant)
}
/* ----------------- Media queries (Medium devices) --------------- */
@media (max-width: 1024px){
    .experience__container{
        grid-template-columns: 1fr

    }
    .experience__block{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    } 
    .experience__content{
        padding: 1rem;
    }  
}

/* ----------------- Media queries (Small Devices) --------------- */
@media (max-width: 600px){
    .experience__container{
        gap: 1rem;
    }
    .experience__block{
        width: 100%;
        padding: 2rem 1rem;
    }   
}