
nav{
    background: rgba(0, 0, 0, 0.4);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    bottom: 2rem;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px)
}
nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: rgb(220, 218, 218);
    font-size: 1.2rem;
}
nav a:hover{
    background: rgba(255,255,255,0.4);
    color: var(--color-white);
}
nav a.active{
    background: var(--color-primary);
    color: var(--color-white)
}